<header>
    <h1>{{pageTitle}}</h1>
    <nav role="navigation" style="display:inline-block">
        <ul>
            <li style="list-style: none; float: left; margin: 10px;"><a href="/">Home</a></li>
            <li style="list-style: none; float: left; margin: 10px;"><a href="/about">About</a></li>
            <li style="list-style: none; float: left; margin: 10px;"><a href="/products">Products</a></li>
            <li style="list-style: none; float: left; margin: 10px;"><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</header>
